# Comibing The Articles From The Guardian, EDA and Cleaning

<img src='theguardian.jpg'>
<img src='TGuard_WordCloud.jpg'>

# Importing packages

In [1]:
import zipfile
import os
import json
from pprint import pprint
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import collections
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

In [2]:
# First file to start with
df = pd.read_json("/home/dk/Downloads/3-1 BITS/Acads/Resources/Information Retrieval/Assignment/our_code/[2]Cleaning_Data/guardian_data/2016-05-01.json" , encoding='uth-8')

In [3]:
# Combining all json files to a one data frame
count = 0
for filename in os.listdir("/home/dk/Downloads/3-1 BITS/Acads/Resources/Information Retrieval/Assignment/our_code/[2]Cleaning_Data/guardian_data/"):
    count+=1
    if count>2:
        #print filename
        file_path = "/home/dk/Downloads/3-1 BITS/Acads/Resources/Information Retrieval/Assignment/our_code/[2]Cleaning_Data/guardian_data/" + filename
        df_ = pd.read_json(file_path , encoding='uth-8')
        df = pd.concat(objs= [df,df_], axis=0,ignore_index=True)
        
        # To see the progress, print the number of the file
        if count%100 ==0:
            print "This is the ",count,"th file -->"

This is the  100 th file -->
This is the  200 th file -->
This is the  300 th file -->

In [4]:
# Getting bodytext from the dataframe
lst = []
for i in range(df.shape[0]):
    lst.append(df.fields[i]["bodyText"])

In [5]:
# Creating a column with bodytext
df["bodyText"] = lst

In [6]:
# Getting headlines from the dataframe
lst_head = []
for i in range(df.shape[0]):
        lst_head.append(df.fields[i]["headline"])

In [7]:
# Creating a column with headline
df["headline"] = lst_head

In [8]:
# Getting rid of the embty bodies
df = df[df.bodyText != ""]

In [9]:
# Total Number of Articles
df.shape

(91032, 14)

In [10]:
# Filtering articles based on topics
df = df[(df.sectionName == 'US news') | (df.sectionName == 'Business') | (df.sectionName == 'Politics') | (df.sectionName == 'World news')]

In [11]:
# Getting to see the dataframe info (data type, non-null value etc.)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19992 entries, 5 to 92374
Data columns (total 14 columns):
apiUrl                19992 non-null object
fields                19992 non-null object
id                    19992 non-null object
isHosted              19992 non-null bool
pillarId              0 non-null object
pillarName            0 non-null object
sectionId             19992 non-null object
sectionName           19992 non-null object
type                  19992 non-null object
webPublicationDate    19992 non-null object
webTitle              19992 non-null object
webUrl                19992 non-null object
bodyText              19992 non-null object
headline              19992 non-null object
dtypes: bool(1), object(13)
memory usage: 2.2+ MB

In [12]:
# To see how many articles in each category
collections.Counter(df.sectionName)

Counter({u'Business': 4215,
         u'Politics': 4442,
         u'US news': 4865,
         u'World news': 6470})

In [13]:
# Overview for the dataframe
df.head()

,apiUrl,fields,id,isHosted,pillarId,pillarName,sectionId,sectionName,type,webPublicationDate,webTitle,webUrl,bodyText,headline
5,https://content.guardianapis.com/business/2016...,{u'bodyText': u'All premises in England that s...,business/2016/may/02/english-businesses-should...,False,NaN,NaN,business,Business,article,2016-05-01T23:01:08Z,English businesses 'should be forced to show h...,https://www.theguardian.com/business/2016/may/...,All premises in England that sell food should ...,English businesses 'should be forced to show h...
6,https://content.guardianapis.com/business/2016...,"{u'bodyText': u'Tips in restaurants, hotels an...",business/2016/may/02/tips-should-go-to-workers...,False,NaN,NaN,business,Business,article,2016-05-01T23:01:07Z,"Tips should go to workers, not employers, says...",https://www.theguardian.com/business/2016/may/...,"Tips in restaurants, hotels and bars should go...","Tips should go to workers, not employers, says..."
14,https://content.guardianapis.com/politics/blog...,{u'bodyText': u'Election debates are more comm...,politics/blog/live/2016/may/01/scottish-electi...,False,NaN,NaN,politics,Politics,liveblog,2016-05-01T21:51:50Z,Sturgeon accused of breaking independence prom...,https://www.theguardian.com/politics/blog/live...,Election debates are more common in Holyrood p...,Sturgeon accused of breaking independence prom...
15,https://content.guardianapis.com/politics/2016...,{u'bodyText': u'Nicola Sturgeon has said a sec...,politics/2016/may/01/scottish-independence-vot...,False,NaN,NaN,politics,Politics,article,2016-05-01T21:40:37Z,Second Scottish independence vote not yet on t...,https://www.theguardian.com/politics/2016/may/...,Nicola Sturgeon has said a second independence...,Second Scottish independence vote not yet on t...
24,https://content.guardianapis.com/us-news/2016/...,{u'bodyText': u'Bernie Sanders acknowledged “a...,us-news/2016/may/01/bernie-sanders-contested-c...,False,NaN,NaN,us-news,US news,article,2016-05-01T21:16:57Z,Bernie Sanders vows a contested convention des...,https://www.theguardian.com/us-news/2016/may/0...,Bernie Sanders acknowledged “an uphill climb” ...,Bernie Sanders vows a contested convention des...

In [14]:
# Publication data range
df.webPublicationDate.min() ,df.webPublicationDate.max()

(u'2016-05-01T00:54:45Z', u'2017-03-27T22:26:20Z')

In [15]:
for idx,item in enumerate(df.bodyText):
    df.bodyText[idx] = re.sub('[^\x00-\x7F]+', "", item)
    if idx%500 == 0:
        print 'Here is the ',idx,'th item'

Here is the  0 th item
Here is the  500 th item
Here is the  1000 th item
Here is the  1500 th item
Here is the  2000 th item
Here is the  2500 th item
Here is the  3000 th item
Here is the  3500 th item
Here is the  4000 th item
Here is the  4500 th item
Here is the  5000 th item
Here is the  5500 th item
Here is the  6000 th item
Here is the  6500 th item
Here is the  7000 th item
Here is the  7500 th item
Here is the  8000 th item
Here is the  8500 th item
Here is the  9000 th item
Here is the  9500 th item
Here is the  10000 th item
Here is the  10500 th item
Here is the  11000 th item
Here is the  11500 th item
Here is the  12000 th item
Here is the  12500 th item
Here is the  13000 th item
Here is the  13500 th item
Here is the  14000 th item
Here is the  14500 th item
Here is the  15000 th item
Here is the  15500 th item
Here is the  16000 th item
Here is the  16500 th item
Here is the  17000 th item
Here is the  17500 th item
Here is the  18000 th item
Here is the  18500 th item
Here is the  19000 th item
Here is the  19500 th item

In [16]:
for idx,item in enumerate(df.headline):
    df.headline[idx] = re.sub('[^\x00-\x7F]+', "", item)
    if idx%500 == 0:
        print 'Here is the ',idx,'th item'

Here is the  0 th item
Here is the  500 th item
Here is the  1000 th item
Here is the  1500 th item
Here is the  2000 th item
Here is the  2500 th item
Here is the  3000 th item
Here is the  3500 th item
Here is the  4000 th item
Here is the  4500 th item
Here is the  5000 th item
Here is the  5500 th item
Here is the  6000 th item
Here is the  6500 th item
Here is the  7000 th item
Here is the  7500 th item
Here is the  8000 th item
Here is the  8500 th item
Here is the  9000 th item
Here is the  9500 th item
Here is the  10000 th item
Here is the  10500 th item
Here is the  11000 th item
Here is the  11500 th item
Here is the  12000 th item
Here is the  12500 th item
Here is the  13000 th item
Here is the  13500 th item
Here is the  14000 th item
Here is the  14500 th item
Here is the  15000 th item
Here is the  15500 th item
Here is the  16000 th item
Here is the  16500 th item
Here is the  17000 th item
Here is the  17500 th item
Here is the  18000 th item
Here is the  18500 th item
Here is the  19000 th item
Here is the  19500 th item

In [26]:
for idx, item in enumerate(df.bodyText):
    df.bodyText[idx] = re.sub('(\\n)',"",item)
    if idx%500 == 0:
        print 'Here is the ',idx,'th item'

Here is the  0 th item

In [27]:
for idx, item in enumerate(df.headline):
    df.headline[idx] = re.sub('(\\n)',"",item)
    if idx%500 == 0:
        print 'Here is the ',idx,'th item'

Here is the  0 th item

In [38]:
print df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 180 entries, 5 to 890
Data columns (total 14 columns):
apiUrl                180 non-null object
fields                180 non-null object
id                    180 non-null object
isHosted              180 non-null bool
pillarId              0 non-null object
pillarName            0 non-null object
sectionId             180 non-null object
sectionName           180 non-null object
type                  180 non-null object
webPublicationDate    180 non-null object
webTitle              180 non-null object
webUrl                180 non-null object
bodyText              180 non-null object
headline              180 non-null object
dtypes: bool(1), object(13)
memory usage: 28.7+ KB
None

In [40]:
print df[u'headline'][0]

Ted Cruz rails against Trump-Clinton 'cartel' in final push ahead of Indiana

In [ ]:
df = df[[u'headline',u'bodyText']]

In [28]:
# Saving the cleaned data into csv file
df.to_csv("/home/dk/Downloads/3-1 BITS/Acads/Resources/Information Retrieval/Assignment/our_code/Data/Clean_TheGuardian_Combined_No_Slash.csv",encoding='utf-8')

In [29]:
# Reading the cleaned data into data frame
df_test = pd.read_csv("/home/dk/Downloads/3-1 BITS/Acads/Resources/Information Retrieval/Assignment/our_code/Data/Clean_TheGuardian_Combined_No_Slash.csv")

In [30]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 180 entries, 0 to 179
Data columns (total 15 columns):
Unnamed: 0            180 non-null int64
apiUrl                180 non-null object
fields                180 non-null object
id                    180 non-null object
isHosted              180 non-null bool
pillarId              0 non-null float64
pillarName            0 non-null float64
sectionId             180 non-null object
sectionName           180 non-null object
type                  180 non-null object
webPublicationDate    180 non-null object
webTitle              180 non-null object
webUrl                180 non-null object
bodyText              180 non-null object
headline              180 non-null object
dtypes: bool(1), float64(2), int64(1), object(11)
memory usage: 19.9+ KB

In [37]:
print df_test[u'id'][0]

business/2016/may/02/english-businesses-should-be-forced-to-show-hygiene-scores

In [144]:
sum_ = 0
max_ = 0
min_ = 9999
for item in df.bodyText:
    sum_+=len(item)
    if len(item)>max_:
        max_ = len(item)
    if len(item)<min:
        min_ = len(item)

In [145]:
print "Min number of word count",min_ ,"\nMax number of word count",max_,"\nTotal number of word count", sum_

Min number of word count 955
Max number of word count 53609
Total number of word count 2142378

# Word Clound From The Guardian Dataset

<img src='TGuard_WordCloud.jpg'>